<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Ano/Série</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="/Logo.png" alt="Logo Dom Bosco" class="logo_img">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>

            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>

        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="/alunos/" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="/professores/" class="barItem">Professores</a></li>
                <li><a href="/titulos/" class="barItem">Títulos</a></li>
                <li><a href="/exemplares/" class="barItem">Exemplar</a></li>
                <li><a href="/editoras/" class="barItem">Editoras</a></li>
                <li><a href="/autores/" class="barItem">Autores</a></li>
                <li><a href="/assuntos/" class="barItem">Assuntos</a></li>
                <li><a href="/estantes/" class="barItem">Estantes</a></li>
                <li><a href="/anoseries/" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <div class="divForm">
            <form class="formInfo" name="FormCad" id="formCad" autocomplete="off" action="/anoseries/<%=anse[0].Id_AnoSerie%>?_method=PATCH" method="post">
                <h1 class="title-gerenciar">Gerênciar Ano/Série</h1>
                <hr>
                <!-- Dados de preenchimento -->
                <div class="formu">
                    <div class="linha">
                        <div class="fmanoserie">
                            <label>Ano/série:</label>
                            <input type="text" placeholder="Ano/série" id="anoserie" name="Anoserie" value="<%=anse[0].AnoSerie %>">
                        </div>
                    </div>
                    <div class="linha">
                        <div class="fmturma">
                            <label>Turma:</label>
                            <input type="text" placeholder="Turma" id="turma" name="Turma" value="<%=tur[0].Turma %>">
                        </div>
                        <!-- <button class="btCon">+</button>
                    <button class="btEx">-</button> -->
                    </div>
                    <div class="linha botoes">
                        <button class="btCon">Alterar</button>
                        <button class="btAlt" formaction="/anoseries/?_method=GET">Cancelar</button>
                        <button type="submit" formaction="/anoseries/<%=anse[0].Id_AnoSerie %>?_method=DELETE" class="btEx"
                            id="btx">Excluir</button>
                    </div>
                </div>
            </form>
            <!--tabela-->
            <form class="formPesq" name="FormPesq" id="formPesq" action="/anoseries/pesq" method="GET">
                <h2 class="title-gerenciar">Pesquisar</h2>
                <hr>
                <div class="formu">
                    <!-- compo de pesquisa -->
                    <div class="linha">
                        <div class="fmpesqui">
                            <label for="">Pesquisar:</label>
                            <input type="text" placeholder="Pesquisar" id="nome" name="Pesq" maxlength="20"
                                class="gd" required>
                        </div>
                        <button class="btPes">Pesquisar</button>
                        <div class="linha filtro-pesquisa">
                            <input type="radio" name="rbpesq" id="rbas" value="rbanoserie" checked>
                            <label for="rbnome">Ano/Série</label>
                            <input type="radio" name="rbpesq" id="rbtur" value="rbturma">
                            <label for="rbnome">Turma</label>
                        </div>
                    </div>
                    <div style="overflow: auto; width: 1500px; height: 200px; align-content: center;">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th>Ano/Série</th>
                                    <th>Turma</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let a of list){ %>
                                    <tr>
                                        <td>
                                            <%=a.AnoSerie%>
                                        </td>
                                        <td>
                                            <%=a.Turma.toUpperCase()%>
                                        </td>
                                        <td> <a href="/anoseries/<%=a.Id_AnoSerie %>"> Editar/Ecluir</a></td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>