<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Aluno</title>

    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="script.js"></script>
    <script src="Aluno.js"></script> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="/Logo.png" alt="Logo Dom Bosco">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>
            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>
        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="/BAluno/BAlunoINS" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="/BProfessor" class="barItem">Professores</a></li>
                <li><a href="/BTitulo" class="barItem">Títulos</a></li>
                <li><a href="/BExemplar" class="barItem">Exemplar</a></li>
                <li><a href="/BEditora" class="barItem">Editoras</a></li>
                <li><a href="/BAutor" class="barItem">Autores</a></li>
                <li> <a href="/BAssunto" class="barItem">Assuntos</a></li>
                <li> <a href="/BEstante" class="barItem">Estantes</a></li>
                <li> <a href="/BAnoSerie" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <div class="divForm">
            <form class="formInfo" name="FormCad" id="formCad" autocomplete="off" action="/alunos/" method="post">
                <h1 class="title-gerenciar">Gerenciar Aluno</h1>
                <hr>
                <!-- Dados de preenchimento -->
                <div class="formu">
                    <div class="linha">
                        <div class="fmnome">
                            <label for="" id="baNome" color="red">Nome:</label>
                            <input type="text" placeholder="Nome" id="nome" name="Nome" maxlength="20" class="gd">
                        </div>
                        <div class="fmano/serie">
                            <label for="" id="baAnoserie"> Ano/Série:</label>
                            <select name="Anoserie" id="anoserie">
                                <option value="">Ano/Série</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="fmturma">
                            <label for="" id="baTurma">Turma:</label>
                            <select name="Turma" id="turma">
                                <option value="">Turma</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                            </select>
                        </div>
                        <div class="fmra">
                            <label id="baRa">RA:</label>
                            <input type="number" placeholder="RA" id="ra" name="RA" min="0" minlength="12"
                                maxlength="20">
                        </div>
                        <div class="fmsenha">
                            <label id="baSenha">Senha:</label>
                            <input type="text" placeholder="Senha" id="senha" name="Senha" min="0">
                        </div>
                    </div>

                    <div class="linha">
                        <div class="fmendereco">
                            <label for="">Endereço:</label>
                            <input type="text" placeholder="Endereço" id="endereco" name="Endereco" class="gd">
                        </div>
                        <div class="fmtelefone">
                            <label for="">Telefone:</label>
                            <input type="text" placeholder="Telefone" id="telefone" name="Telefone" maxlength="20">
                        </div>
                        <div class="fmemail">
                            <label for="">E-mail:</label>
                            <input type="email" placeholder="E-mail" id="email" name="Email" class="gd">
                        </div>
                    </div>
                    <div class="fmid">
                        <input type="hidden" id="id" name="ID">
                    </div>
                    <div class="linha botoes">
                        <button class="btCon">Confirmar</button>
                        <button formaction="/alunos/?_method=GET" class="btAlt">Cancelar</button>
                        <!-- <button onclick="formDelete()" class="btEx" id="btx" disabled>Excluir</button> -->
                    </div>
                </div>
            </form>
            <!-- tabela -->
            <form class="formPesq" name="FormPesq" id="formPesq" action="/alunos/pesq" method="GET">
                <h2 class="title-gerenciar">Pesquisar</h2>
                <hr>
                <div class="formu">
                    <!-- compo de pesquisa -->
                    <div class="linha">
                        <div class="fmpesqui">
                            <label for="">Pesquisar:</label>
                            <input type="text" placeholder="Pesquisar" id="pesq" name="Pesq" class="gd">
                        </div>
                        <button class="btPes">Pesquisar</button>
                        <!--formaction="/alunos/pesq?_method=GET"-->
                        <div class="linha filtro-pesquisa">
                            <input type="radio" name="rbpesq" id="rbra" value="Rbra" checked>
                            <label for="rbra">RA</label>
                            <input type="radio" id="rbnome" name="rbpesq" value="Rbnome">
                            <label for="rbnome">Nome</label>
                            <input type="radio" id="rbano" name="rbpesq" value="Rbanoserie">
                            <label for="rbano">Ano/Série</label>
                        </div>
                    </div>
                    <div style="overflow: auto; width: 1500px; height: 200px; align-content: center;">
                        <table id="tabela">
                            <thead>
                                <tr>
                                    <th>RA</th>
                                    <th>Aluno</th>
                                    <th>Ano/Série</th>
                                    <th>Turma</th>
                                    <th>Estado</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let a of alunos){ %>
                                    <tr>
                                        <td>
                                            <%= a.RA%>
                                        </td>
                                        <td>
                                            <%= a.Nome%>
                                        </td>
                                        <td>
                                            <%= %>
                                        </td>
                                        <td>
                                            <%= %>
                                        </td>
                                        <td>
                                            <%= a.Estado==0? 'Normal' : 'Devendo' %>
                                        </td>
                                        <td> <a href="/alunos/<%=a.Id_Aluno %>"> Editar/Ecluir</a></td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                    <!--div do style da tabela-->
                </div>
                <!--div do style do from-->
            </form>
        </div>
    </main>
</body>

</html>