<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Estante</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="/Logo.png" alt="Logo Dom Bosco" class="logo_img">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>

            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>

        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="/alunos/" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="/professores/" class="barItem">Professores</a></li>
                <li><a href="/titulos/" class="barItem">Títulos</a></li>
                <li><a href="/exemplares/" class="barItem">Exemplar</a></li>
                <li><a href="/editoras/" class="barItem">Editoras</a></li>
                <li><a href="/autores/" class="barItem">Autores</a></li>
                <li><a href="/assuntos/" class="barItem">Assuntos</a></li>
                <li><a href="/estantes/" class="barItem">Estantes</a></li>
                <li><a href="/anoseries/" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <div class="divForm">
            <form class="formInfo" name="FormCad" id="formCad" autocomplete="off"
                action="/estantes/<%=estante[0].Id_Estante%>?_method=PATCH" method="POST">
                <h1 class="title-gerenciar">Alterar/Excluir Estante</h1>
                <hr>
                <!-- Dados de preenchimento -->
                <div class="formu">
                    <div class="linha">
                        <div class="fmdesc">
                            <label>Descrição da Estante:</label>
                            <input type="text" placeholder="Descrição" id="descricao" name="Descricao" class="gd"
                                value="<%=estante[0].Descricao%>">
                        </div>
                        <div class="fmqtd">
                            <label>Quantidade de Prateleiras:</label>
                            <input type="text" placeholder="Quantidade de Prateleiras" id="qtd" name="Qtd"
                                value="<%=qtd[0].Descricao%>">
                        </div>
                    </div>
                    <div class="linha botoes">
                        <button class="btCon">Alterar</button>
                        <button formaction="/estantes/?_method=GET" class="btAlt">Cancelar</button>
                        <button type="submit" formaction="/estantes/<%=estante[0].Id_Estante%>?_method=DELETE"
                            class="btEx" id="btx">Excluir</button>
                    </div>
                </div>
            </form>
            <form class="formPesq" name="FormPesq" id="formPesq" action="/estantes/pesq" method="GET">
                <div class="formu">
                    <!-- compo de pesquisa -->
                    <div class="linha">
                        <div class="fmpesqui">
                            <label for="">Pesquisar:</label>
                            <input type="text" placeholder="Pesquisar" id="nome" name="Pesq" maxlength="20"
                                class="gd">
                        </div>
                        <button class="btPes">Pesquisar</button>
                        <div class="linha filtro-pesquisa">
                            <input type="radio" name="rbpesq" id="rbnome" value="rbnome" checked>
                            <label for="rbnome">Descrição</label>
                        </div>
                    </div>
                    <!-- tabela -->
                    <div style="overflow: auto; width: 1500px; height: 200px; align-content: center;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Prateleiras</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let a of list){ %>
                                    <tr>
                                        <td>
                                            <%= a.Descricao%>
                                        </td>
                                        <td>
                                            <%= a.Qtd%>
                                        </td>
                                        <td> <a href="/estantes/<%=a.Id_Estante %>"> Editar/Ecluir</a></td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>